<div class="sidebar">
    <div class="logo-details">
        <i class='bx bxl-c-plus-plus icon'></i>
        <div class="logo_name">...</div>
        <i class='bx bx-menu' id="btn"></i>
    </div>
    <ul class="nav-list">
        <li>
            <a href="/kupac">
                <i class='bx bx-grid-alt'></i>
                <span class="links_name">Početna</span>
            </a>
            <span class="tooltip">Početna</span>
        </li>
        <li>
            <a href="/kupac/chat">
                <i class='bx bx-chat'></i>
                <span class="links_name">Poruke</span>
            </a>
            <span class="tooltip">Poruke</span>
        </li>
        <li>
            <a href="/kupac/korpa">
                <i class='bx bx-cart-alt'></i>
                <span class="links_name">Korpa</span>
            </a>
            <span class="tooltip">Korpa</span>
        </li>
        <li>
            <a href="/kupac/narudzbe">
                <i class='bx bxs-bell-ring'></i>
                <span class="links_name">Narudžbe</span>
            </a>
            <span class="tooltip">Narudžbe</span>
        </li>
        <li>
            <a href="/kupac/spaseni-artikli">
                <i class='bx bx-heart'></i>
                <span class="links_name">Spašeno</span>
            </a>
            <span class="tooltip">Spašeno</span>
        </li>
        <li class="profile">
            <a href="/logout">
                <i class='bx bx-log-out' id="log_out"></i>
            </a>
        </li>
    </ul>
</div>