<div class="sidebar">
    <div class="logo-details">
        <i class='bx bxl-c-plus-plus icon'></i>
        <div class="logo_name">...</div>
        <i class='bx bx-menu' id="btn"></i>
    </div>
    <ul class="nav-list">
        <li>
            <a href="/trgovac">
                <i class='bx bx-grid-alt'></i>
                <span class="links_name">Po훾etna</span>
            </a>
            <span class="tooltip">Po훾etna</span>
        </li>
        <li>
            <a href="trgovac/profil">
                <i class='bx bx-user'></i>
                <span class="links_name">Profil</span>
            </a>
            <span class="tooltip">Profil</span>
        </li>
        <li>
            <a href="/trgovac/chat">
                <i class='bx bx-chat'></i>
                <span class="links_name">Poruke</span>
            </a>
            <span class="tooltip">Poruke</span>
        </li>
        <li>
            <a href="/trgovac/narudzbe">
                <i class='bx bxs-bell-ring'></i>
                <span class="links_name">Narud탑be</span>
            </a>
            <span class="tooltip">Narud탑be</span>
        </li>
        <li>
            <a href="trgovac/statistika">
                <i class='bx bx-pie-chart-alt-2'></i>
                <span class="links_name">Statistika</span>
            </a>
            <span class="tooltip">Statistika</span>
        </li>
        <li class="profile">
            <a href="/logout">
                <i class='bx bx-log-out' id="log_out"></i>
            </a>
        </li>
    </ul>
</div>